@import "~bootstrap/scss/functions";

/*** 
// Grids
***/

$grid-columns: 12;
$grid-gutter-width: 30px;


$btn-border-radius: 25rem;
$border-radius-sm: 25rem;

$primary: #EF5350;
$secondary:#263238;
$blue: #0074EC;

$primaryClaro: lighten($primary, 20%) !default;
$primaryEscuro: #dc3545;

$secondaryEscuro: #501e50;
// $secondary: #501e50;
$Bege: #e5e0d1;
$Cinza: #282828;
$appCinza: #4f4f4f;
$Azul: #17a2b8;
$Verde: #539656;
$Amarelo: #ffc107;
$Gold: #AB7B13;
$Dark: #343a40;
$Light: #f8f9fa;
$Laranja: #F29549;


$white: #FFFFFF;
$black: #000000;



$theme-colors: (
  "black": $black,
  "primary": $primary,
  "secondary": $secondary,
  "info": $blue,
  "warning": $Amarelo,
  "success": $Verde,

  
  
  
  "danger": $Laranja,
  "light": $Light,
  "dark": $Dark,
);

// $font-family-sans-serif: "Calibri" !default;



@import "~bootstrap/scss/variables";

